@media only screen and (max-width: 1280px) {
  /* line 2, ../../sass/partials/media_queries.sass */
  header {
    margin: 40px auto;
    width: 1000px;
  }

  /* line 5, ../../sass/partials/media_queries.sass */
  section {
    margin: 40px auto;
    width: 1060px;
  }

  /* line 9, ../../sass/partials/media_queries.sass */
  .box {
    background: #252836;
    margin: 0 20px;
  }

  /* line 13, ../../sass/partials/media_queries.sass */
  .xlg-box {
    background: #252836;
    width: 1000px;
    height: 500px;
  }

  /* line 18, ../../sass/partials/media_queries.sass */
  .lg-box {
    width: 485px;
    height: 500px;
  }

  /* line 22, ../../sass/partials/media_queries.sass */
  .md-box {
    width: 305px;
    height: 300px;
  }

  /* line 26, ../../sass/partials/media_queries.sass */
  .sm-box {
    width: 220px;
    height: 250px;
  }

  /* line 30, ../../sass/partials/media_queries.sass */
  nav, footer {
    background: #181a25;
  }
}
@media only screen and (max-width: 1160px) {
  /* line 34, ../../sass/partials/media_queries.sass */
  header {
    width: 800px;
  }

  /* line 36, ../../sass/partials/media_queries.sass */
  section {
    width: 800px;
  }

  /* line 39, ../../sass/partials/media_queries.sass */
  .box {
    background: #253630;
    margin: 0 20px;
  }

  /* line 43, ../../sass/partials/media_queries.sass */
  .xlg-box {
    background: #253630;
    width: 800px;
    height: 500px;
  }

  /* line 48, ../../sass/partials/media_queries.sass */
  .lg-box {
    width: 360px;
    height: 500px;
  }

  /* line 52, ../../sass/partials/media_queries.sass */
  .md-box {
    width: 225px;
    height: 300px;
  }

  /* line 56, ../../sass/partials/media_queries.sass */
  .sm-box {
    width: 800px;
    height: 200px;
    display: block;
    margin-bottom: 20px !important;
  }

  /* line 62, ../../sass/partials/media_queries.sass */
  nav, footer {
    background: #18251c;
  }

  /* line 65, ../../sass/partials/media_queries.sass */
  #burger-menu {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  /* line 69, ../../sass/partials/media_queries.sass */
  header {
    width: 550px;
  }

  /* line 72, ../../sass/partials/media_queries.sass */
  section {
    width: 600px;
  }

  /* line 75, ../../sass/partials/media_queries.sass */
  .box {
    background: #362532;
    margin: 0 20px;
  }

  /* line 79, ../../sass/partials/media_queries.sass */
  .xlg-box {
    background: #362532;
    width: 550px;
    height: 500px;
  }

  /* line 84, ../../sass/partials/media_queries.sass */
  .lg-box {
    width: 250px;
    height: 500px;
  }

  /* line 88, ../../sass/partials/media_queries.sass */
  .md-box {
    width: 550px;
    height: 300px;
    display: block;
    margin-bottom: 20px !important;
  }

  /* line 94, ../../sass/partials/media_queries.sass */
  .sm-box {
    width: 550px;
    height: 200px;
  }

  /* line 98, ../../sass/partials/media_queries.sass */
  nav, footer {
    background: #251824;
  }
}
@media only screen and (max-width: 600px) {
  /* line 102, ../../sass/partials/media_queries.sass */
  header {
    width: 400px;
  }

  /* line 105, ../../sass/partials/media_queries.sass */
  section {
    width: 400px;
  }

  /* line 108, ../../sass/partials/media_queries.sass */
  .box {
    background: #362525;
    margin: 0px;
  }

  /* line 112, ../../sass/partials/media_queries.sass */
  .xlg-box {
    background: #362525;
    width: 450px;
    height: 400px;
  }

  /* line 117, ../../sass/partials/media_queries.sass */
  #logo {
    margin-left: 10px;
  }

  /* line 120, ../../sass/partials/media_queries.sass */
  #burger-menu {
    position: relative;
    right: 50px !important;
  }

  /* line 125, ../../sass/partials/media_queries.sass */
  .lg-box {
    width: 450px;
    height: 500px;
    display: block;
    margin-bottom: 20px !important;
  }

  /* line 131, ../../sass/partials/media_queries.sass */
  .md-box {
    width: 450px;
    height: 250px;
  }

  /* line 135, ../../sass/partials/media_queries.sass */
  .sm-box {
    width: 450px;
    height: 200px;
  }

  /* line 139, ../../sass/partials/media_queries.sass */
  nav, footer {
    background: #251818;
  }
}
@media only screen and (max-width: 430px) {
  /* line 144, ../../sass/partials/media_queries.sass */
  header {
    width: 350px;
  }

  /* line 147, ../../sass/partials/media_queries.sass */
  section {
    width: 350px;
  }

  /* line 150, ../../sass/partials/media_queries.sass */
  .box {
    background: #323625;
  }

  /* line 153, ../../sass/partials/media_queries.sass */
  .xlg-box {
    background: #323625;
    width: 350px;
    height: 300px;
  }

  /* line 159, ../../sass/partials/media_queries.sass */
  .lg-box {
    width: 350px;
    height: 300px;
    display: block;
    margin-bottom: 20px !important;
  }

  /* line 165, ../../sass/partials/media_queries.sass */
  .md-box {
    width: 350px;
    height: 250px;
  }

  /* line 169, ../../sass/partials/media_queries.sass */
  .sm-box {
    width: 350px;
    height: 200px;
  }

  /* line 173, ../../sass/partials/media_queries.sass */
  nav, footer {
    background: #232518;
  }
}
