// CLINICAL CASES
section#clinical-cases
    width: 100%
    padding: 0 30px
    & h2
        font-weight: 400
        text-align: center
        margin-top: 50px
    & .common-case
        max-width: 600px
        height: 270px
        background: $mainBlue
        margin: 20px auto
        color: #FFF
        &-text
            float: right
            width: 270px
            padding: 10px
        & img
            margin: 55px 10px
            float: left
            width: 270px
        & h4
            text-transform: uppercase
            text-align: center
            margin-bottom: 0
        & a
            color: #FFF
            text-decoration: none
            float: right
            margin-right: 10px
