// FOOTER
footer
    height: 100px
    color: #FFF
    background: $mainBlue
    & span.attribution, span.copyright
        font-size: .6rem
        display: block
        text-align: center
        margin: 5px
        & a
            color: #FFF
