// NAV
nav#main-nav
    font-family: 'PT Serif', serif
    width: 100%
    text-transform: uppercase
    display: block
    & #logo
        margin-top: 50px
        display: block
        margin-left: auto
        margin-right: auto
    & ul
        display: block
        margin: 30px 0
        width: 100%
        margin-left: auto
        margin-right: auto
        & li
            list-style: none
            float: left
            padding: 0 20px
            & a
                text-decoration: none
                color: $mainText

nav#footer-nav
    display: block
    & ul
        display: block
        width: 100%
        margin-left: auto
        margin-right: auto
        padding-top: 15px
        padding-bottom: 5px
        text-align: center
        & li
            list-style: none
            float: left
            padding: 0 20px
            & a
                text-decoration: none
                color: #FFF
