// WHO WE ARE
section#who-we-are
    width: 100%
    & div.container.gutter
        @media only screen and (min-width: 768px)
            padding: 0 50px
    & h2
        font-weight: 400
        text-align: center
        @media only screen and (min-width: 620px)
            font-size: 1.1rem
        @media only screen and (min-width: 768px)
            font-size: 1.5rem
    & h3
        margin-bottom: 5px
        font-size: .7rem
        @media only screen and (min-width: 768px)
            font-size: 1.2rem
    & p
        margin-top: 0px
        font-size: .7rem
        @media only screen and (min-width: 620px)
            font-size: 1rem
        @media only screen and (min-width: 768px)
            font-size: 1.1rem
    & img
        margin: 30px auto
        display: block
        width: 200px
        @media only screen and (min-width: 620px)
            width: 400px
