@media only screen and (max-height: 440px) {
  /* line 2, ../../sass/partials/media_queries.sass */
  div.social-link-container {
    display: none;
  }

  /* line 4, ../../sass/partials/media_queries.sass */
  .menu {
    display: block;
  }
}
@media only screen and (max-width: 1390px) {
  /* line 8, ../../sass/partials/media_queries.sass */
  section#content {
    margin-left: 200px;
  }

  /* line 10, ../../sass/partials/media_queries.sass */
  #first-section, #second-section, #third-section {
    max-width: 100%;
    width: 800px;
  }
}
@media only screen and (max-width: 1214px) {
  /* line 15, ../../sass/partials/media_queries.sass */
  .container {
    width: 700px;
  }

  /* line 17, ../../sass/partials/media_queries.sass */
  section#content {
    margin-left: 200px;
  }

  /* line 19, ../../sass/partials/media_queries.sass */
  #first-section, #second-section, #third-section {
    width: 700px;
  }

  /* line 22, ../../sass/partials/media_queries.sass */
  #first-section div.section-text, #second-section div.section-text {
    width: 15%;
  }

  /* line 25, ../../sass/partials/media_queries.sass */
  #third-section div.section-text {
    width: 700px !important;
  }
  /* line 27, ../../sass/partials/media_queries.sass */
  #third-section img.third-section-img {
    width: 550px !important;
    margin: 0 10% 10px !important;
  }
}
@media only screen and (max-width: 1084px) {
  /* line 32, ../../sass/partials/media_queries.sass */
  section#content {
    margin-left: 100px !important;
  }

  /* line 34, ../../sass/partials/media_queries.sass */
  section div.section-text {
    display: block;
    clear: both;
  }

  /* line 37, ../../sass/partials/media_queries.sass */
  section img {
    display: block;
    clear: both;
  }

  /* line 41, ../../sass/partials/media_queries.sass */
  .container {
    width: 600px;
  }

  /* line 43, ../../sass/partials/media_queries.sass */
  section#content {
    margin-left: 200px;
  }

  /* line 45, ../../sass/partials/media_queries.sass */
  #first-section, #second-section, #third-section {
    width: 600px;
  }

  /* line 48, ../../sass/partials/media_queries.sass */
  #first-section div.section-text, #second-section div.section-text {
    width: 500px !important;
    margin-left: 10%;
  }
  /* line 51, ../../sass/partials/media_queries.sass */
  #first-section img, #second-section img {
    max-width: 100% !important;
    width: 350px !important;
    height: auto !important;
    margin: 0 auto !important;
  }
  /* line 56, ../../sass/partials/media_queries.sass */
  #first-section img.second-section-img, #second-section img.second-section-img {
    margin-left: 15% !important;
  }

  /* line 59, ../../sass/partials/media_queries.sass */
  #third-section div.section-text {
    width: 600px !important;
    padding: 0 20px !important;
  }
  /* line 62, ../../sass/partials/media_queries.sass */
  #third-section img.third-section-img {
    width: 550px !important;
    margin: 0 5% 10px !important;
  }
}
@media only screen and (max-width: 1036px) {
  /* line 67, ../../sass/partials/media_queries.sass */
  section#content {
    margin-left: 150px !important;
  }
}
