html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header nav {
    width: 100%;
    height: 80px;
    background: #333;
    color: #FFF;
    padding: 0 50px;
    box-sizing: border-box;
}
nav #logo{
    display: inline-block;
}
nav #logo a{
    font-size: 2em;
    line-height: 80px;
    color: #FFF;
    text-decoration: none;
}
nav #logo a:hover {
    color: #999;
}
nav ul {
    list-style: none;
    float:right;
}
nav ul a {
    text-decoration: none;
    color: #FFF;
    line-height: 50px;
    display: inline-block;
}
nav ul li {
    float:left;
    margin-right: 50px;
}
nav a:hover {
    color: #999;
}
nav #menu {
    float: right;
    position: relative;
    left: 2%;
    line-height: 80px;
    display: none;
    cursor: pointer;
    z-index: 9999;
}
.hamburger-menu {
    clear: both;
    display: block !important;
}

.display {
    display: block!important;
}
ul#navigation.display {
    background: #333;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}
ul#navigation.display a {
    display:block!important;
    position: relative;
    top: 50px;
}
ul#navigation.display a li{
    display:block!important;
    width: 100%;
    border-top: .5px solid #969696;
    border-bottom: .5px solid #969696;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    position: relative;
    left: -20px;
}
ul#navigation.display a li:hover{
    background: #262626;
}
ul#navigation.display a li.top-item{
    border-top: 1.5px solid #969696 !important;
}
ul#navigation.display a li.bottom-item{
    border-bottom: 1.5px solid #969696 !important;
}


header .container {
    width: 1000px;
    line-height: 40px;
    margin: 50px auto;
}
header .container p.lead {
    font-weight: 700;
    font-size: 1.1em;
}
header .img-container img {
    height: auto;
    float: left
}
.img-container {
    max-width: 100%;
    width: 1200px;
    height:50px;
    margin: 0 auto;
    perspective: 300px;
}
.img-container img {
    box-shadow: 3px 3px 20px #000;
}

.img-container img.image1 {
    transform: rotateY(10deg);
    max-width: 100%;
    width: 500px;
    position: absolute;
    top: 180%;
    left: -10%;
    z-index: 2;
}
.img-container img.image2 {
    transform: rotateY(10deg);
    max-width: 100%;
    width: 550px;
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: 3;
}
.img-container img.image3 {
    transform: rotateY(-3deg);
    max-width: 100%;
    width: 700px;
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 4;
}
.img-container img.image4 {
    transform: rotateY(-10deg);
    max-width: 100%;
    width: 550px;
    position: absolute;
    top: 100%;
    right: 5%;
    z-index: 3;
}
.img-container img.image5 {
    transform: rotateY(-10deg);
    max-width: 100%;
    width: 500px;
    position: absolute;
    top: 180%;
    right: -10%;
    z-index: 2;
}

footer {
    background: #333;
    color: #FFF;
    text-align: center;
    font-size: .9em;
    width:100%;
    height: 40px;
    height:auto;
    overflow:hidden;
    position: fixed;
    bottom: 0px;
}

/* ===== MEDIA QUERIES ==== */
@media only screen and (max-width: 1700px) {
    .img-container {
        max-width: 100%;
        width: 900px;
        height:50px;
        position: relative;
        top: 50px;
        margin-bottom: 400px;
    }
    .img-container img.image1 {
        max-width: 100%;
        width: 300px;
    }
    .img-container img.image2 {
        max-width: 100%;
        width: 350px;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:500px;
    }
    .img-container img.image4 {
        max-width: 100%;
        width: 350px;
    }
    .img-container img.image5 {
        max-width: 100%;
        width: 300px;
    }
}

@media only screen and (max-width: 1193px) {
    header .container {
        width: 800px;
        line-height: 40px;
        margin: 50px auto;
    }
    .img-container {
        max-width: 100%;
        width: 600px;
        height:50px;
        position: relative;
        top: 50px;
        left: -65px;
    }
    .img-container img.image1 {
        max-width: 100%;
        width: 300px;
    }
    .img-container img.image2 {
        max-width: 100%;
        width: 350px;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:500px;
    }
    .img-container img.image4 {
        max-width: 100%;
        width: 350px;
        right: -15%;
    }
    .img-container img.image5 {
        max-width: 100%;
        width: 300px;
        right: -30%;
    }
}

@media only screen and (max-width: 935px) {
    nav #menu {
        display: block;
    }
    #navigation {
        display: none;
    }
    h1 {
        width: 600px;
        display: block;
    }
    header .container {
        width: 700px;
    }
    header .container p.lead {
        font-size: 1em;
    }
    .img-container {
        max-width: 100%;
        width: 400px;
        position: relative;
        top: 50px;
        left: -75px;
        margin-bottom: 300px;
    }
    .img-container img.image1 {
        max-width: 100%;
        width: 250px;
        top: 90%;
        left: -20%;
    }
    .img-container img.image2 {
        max-width: 100%;
        width: 300px;
        top: 40%;
        left: 0%;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:350px;
    }
    .img-container img.image4 {
        max-width: 100%;
        width: 300px;
        top: 45%;
        right: -35%;
    }
    .img-container img.image5 {
        max-width: 100%;
        width: 250px;
        right: -55%;
        top: 90%;
    }
}

@media only screen and (max-width: 757px) {
    header .container {
        width: 500px;
    }
    header .container h1{
        font-size: 1.8em;
    }
    .img-container {
        max-width: 100%;
        width: 300px;
        position: relative;
        top: 50px;
        left: -45px;
        margin-bottom: 200px;
    }
    .img-container img.image1 {
        max-width: 100%;
        width: 150px;
        top: 90%;
        left: -20%;
    }
    .img-container img.image2 {
        max-width: 100%;
        width: 200px;
        top: 40%;
        left: 0%;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:250px;
    }
    .img-container img.image4 {
        max-width: 100%;
        width: 200px;
        top: 45%;
        right: -30%;
    }
    .img-container img.image5 {
        max-width: 100%;
        width: 150px;
        right: -50%;
        top: 90%;
    }
}

@media only screen and (max-width: 543px) {
    nav #menu {
        left: 5%;
    }
    header .container {
        padding: 20px;
        box-sizing: border-box;
    }
    .img-container {
        max-width: 100%;
        width: 450px;
        position: relative;
        top: -35px;
        left: -100px;
        height:200px;
        margin-bottom: 200px;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:450px;
    }

    .img-container img.image1, .img-container img.image2, .img-container img.image4, .img-container img.image5 {
        display: none;
    }
}
@media only screen and (max-width: 475px) {
    nav #logo a{
        font-size: 1.5em;
    }
    header .container {
        width: 350px;
    }
    .img-container {
        max-width: 100%;
        width: 350px;
        position: relative;
        top: -80px;
        left: -75px;
        margin-bottom: 100px;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:350px;
    }
}
@media only screen and (max-width: 407px) {
    nav #logo a{
        font-size: 1.2em;
        position: relative;
        left: -30px;
    }
    header .container {
        width: 330px;
    }
    .img-container {
        max-width: 100%;
        width: 330px;
        position: relative;
        top: -80px;
        margin-bottom: 100px;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:330px;
    }
}
@media only screen and (max-width: 367px) {
    nav #logo a{
        font-size: 1em;
    }
    nav #menu {
        top: 0px;
    }
    header .container {
        width: 300px;
        margin: 10px auto;
    }
    header .container h1 {
        font-size: 1.2em;
    }
    header .container p.lead {
        font-size: 1em;
    }
    .img-container {
        max-width: 100%;
        width: 280px;
        height:200px;
        margin-bottom: 80px;
        position: relative;
        top: -35px;
        left: -65px;
    }
    .img-container img.image3 {
        max-width: 100%;
        width:280px;
    }

}
