html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

header nav {
    width: 100%;
    height: 80px;
    background: #333;
    color: #FFF;
    padding: 0 50px;
    box-sizing: border-box;
}
nav #logo{
    display: inline-block;
}
nav #logo a{
    font-size: 2em;
    line-height: 80px;
    color: #FFF;
    text-decoration: none;
}
nav #logo a:hover {
    color: #999;
}
nav ul {
    list-style: none;
    float:right;
}
nav ul a {
    text-decoration: none;
    color: #FFF;
    line-height: 50px;
    display: inline-block;
}
nav ul li {
    float:left;
    margin-right: 60px;
}
nav a:hover {
    color: #999;
}
header .container {
    width: 1000px;
    line-height: 40px;
    margin: 50px auto;
}
header .container p.lead {
    font-weight: 700;
    font-size: 1.1em;
}
header .img-container img {
    height: auto;
    float: left
}
.img-container {
    width: 1200px;
    height:50px;
    margin: 0 auto;
    perspective: 300px;
}
.img-container img {
    box-shadow: 3px 3px 20px #000;
}

.img-container img.image1 {
    transform: rotateY(10deg);
    width: 500px;
    position: absolute;
    top: 180%;
    left: -10%;
    z-index: 2;
}
.img-container img.image2 {
    transform: rotateY(10deg);
    width: 550px;
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: 3;
}
.img-container img.image3 {
    transform: rotateY(-3deg);
    width: 700px;
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 4;
}
.img-container img.image4 {
    transform: rotateY(-10deg);
    width: 550px;
    position: absolute;
    top: 100%;
    right: 5%;
    z-index: 3;
}
.img-container img.image5 {
    transform: rotateY(-10deg);
    width: 500px;
    position: absolute;
    top: 180%;
    right: -10%;
    z-index: 2;
}

footer {
    width: 100%;
    height:40px;
    background: #333;
    color: #FFF;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .9em;
}
